<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h3> Datos de la cuenta de Spotify</h3>
    <ul>
        <li><strong>Nombre de usuario </strong> {{ display_name }}</li>
        <li><strong>Correo: </strong> {{ email }}</li>
    </ul>
</body>
</html>